# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# build output
frontend/dist
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# generated runtime config (written by scripts/generate-config.mjs)
frontend/public/config.json

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

# cdk
cdk/frontend/cdk.out
